## Boolean, Controls and Functions

###Boolean value: True and False

Logic operations
* ==, !=
* \>, >=
* <, <=
* and, or

In [1]:
print(10>5)

print(10>20)

x = 7
y = 8
print( x >= y)

print(x > 0 and y > 0)

x == y  # Notice t test equality, there are two '=' sign

True
False
False
True

False

## If-then-else
**Python uses indentation and `":"` to designate code structures.**

If controls:
* If then:
* else:
* elif:

In [2]:
x = 8
if x == 10:
  print("x equals 10")
  print("Still in the if statement")
print("Already exited the if statement")

Already exited the if statement

In [3]:
x = 8
if x == 10:
  print("x equals 10")
else:
  print(" x does not equal 10")

 x does not equal 10

In [4]:
x = 910
if x == 10:
  print("x equals 10")
elif x == 9:
  print("x equals 9")
else:
  print(" x does not equal 9 or 10")

 x does not equal 9 or 10

### For loop
For var in **iterable**

In [5]:
# You can use either a tuple or a list as the range of a for loop
tuple = ("a", "b", "d")
for i in tuple:
  print(i)

list = [1, 2, 5]
for i in list:
  print(i)

for i in "apple", "banana", "orange":
  print(i)

for i in range(4):
  print(i)

a
b
d
1
2
5
apple
banana
orange
0
1
2
3

In [6]:
# Since you can use a list as the range of a for loop, you can apply the list manipulation techniques here
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in list[::2]:
  print(i)
  
print("-------")
for i in list[2:-2:2]:
  print(i)

print("-------")
for i in [i**3 for i in list if i%3 == 0]:
  print(i)

1
3
5
7
9
-------
3
5
7
-------
27
216
729

### Continue and break
You can use "continue" with the for loop.
And you can use both "continue" and "break" with the while loop.

In [7]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for i in list:
  print("i is: ", i)
  if i%3 == 0:
    continue
  sum += i
  print("sum is: ", sum)

i is:  1
sum is:  1
i is:  2
sum is:  3
i is:  3
i is:  4
sum is:  7
i is:  5
sum is:  12
i is:  6
i is:  7
sum is:  19
i is:  8
sum is:  27
i is:  9
i is:  10
sum is:  37

In [0]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for i in list:
  print("i is: ", i)
  if i%7 == 0:
    break
  sum += i
  print("sum is: ", sum)

i is:  1
sum is:  1
i is:  2
sum is:  3
i is:  3
sum is:  6
i is:  4
sum is:  10
i is:  5
sum is:  15
i is:  6
sum is:  21
i is:  7

### While loop

In [8]:
x, sum = 0, 0
while sum <= 100:
  sum += x
  print("x, sum = ", x, sum)
  x += 1

x, sum =  0 0
x, sum =  1 1
x, sum =  2 3
x, sum =  3 6
x, sum =  4 10
x, sum =  5 15
x, sum =  6 21
x, sum =  7 28
x, sum =  8 36
x, sum =  9 45
x, sum =  10 55
x, sum =  11 66
x, sum =  12 78
x, sum =  13 91
x, sum =  14 105

In [9]:
x, sum = 0, 0
while sum <= 100:
  if sum + x > 100:
    break
  sum += x
  print("x, sum = ", x, sum)
  x += 1

x, sum =  0 0
x, sum =  1 1
x, sum =  2 3
x, sum =  3 6
x, sum =  4 10
x, sum =  5 15
x, sum =  6 21
x, sum =  7 28
x, sum =  8 36
x, sum =  9 45
x, sum =  10 55
x, sum =  11 66
x, sum =  12 78
x, sum =  13 91

In [0]:
# add up all the number between 1 and 30 which is not a multiple of 3
x, sum = 0, 0
while x <= 29:
  x += 1
  if x%3 == 0:
     continue
  sum += x
  print("x, sum = ", x, sum)